<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You are not registered ! <a href="users/login">Login</a> or <a href="users/register">Register</a> instead.</p>
    <a href="/todo">TodoList</a>
	<%- include partial/footer.ejs %>
  </body>
</html>
