<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/users/login" method="POST">
        <label for="login">Login</label><input type="text" name="login" id="login">
        <label for="pwd">Password</label><input type="password" name="pwd" id="pwd">
        <button type="submit">Log In</button>
    </form>
	<%- include partial/footer.ejs %>
  </body>
</html>
