<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/todo.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
        <ul id="sortable">
        <% for (var x = 0; x < todo.length; x++){ %>
            <li class="ui-state-default">
                <form action="/todo?_method=DELETE" method="POST">
                    <input type="hidden" name="todo" value="<%= todo[x] %>">
                    <button type="submit">X</button> 
                </form><form action="/todo?_method=PUT" method="POST">
                    <input type="hidden" name="todo" value="<%= todo[x] %>">
                    <input name="put_todo" id="put_todo" value="<%= todo[x] %>" />
                    <button type="submit">O</button>
                </form>
            </li>    
        <% } %>
        </ul>
    <form action="/todo" method="POST">
        <input name="newtodo" id="newtodo" value="A faire" autofocus/>
        <input type="submit"/>
    </form>
	<%- include partial/footer.ejs %>
  </body>
</html>
